<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Questioner|User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/admin.css">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1> <span class="highlight">Questioner</span></h1>
            </div>
            <!--<div id="search">
                <form action="">
                    <input type="text" placeholder="Search question...">
                    <button type="submit" class="button">Search</button>
                </form>

            </div>-->
            <nav>
                <ul>
                    <li class="current"><a href="admin.html">Home</a></li>
                    <!--<li><a href="profile.html">Profile</a></li>-->
                    <li>Welcome ADMIN</li>
                    <li><a href="index.html">SignOut</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1>Edit Meetup</h1>
                <form action="" method="">
                        <input type="text" name="title" placeholder="Flask Meetup"><br>
                        <input type="text" name="venue" placeholder="PAC first-floor"><br>
                        <input type="text" name="when" placeholder="Wed, 9th Jan 2019"><br>
    
                        <textarea rows="4" cols="40" placeholder="How to adhere to Andela EPIC rules"></textarea>
                        <button type="button" class="post-btn">Save</button>
                    </form>
            </article>
            <aside id="sidebar">
                <h3>Create Meetup</h3>
                <form action="" method="">
                    <input type="text" name="title" placeholder="Meetup name"><br>
                    <input type="text" name="venue" placeholder="VENUE"><br>
                    <input type="date" name="when" placeholder="WHEN"><br>

                    <textarea rows="4" cols="40" placeholder="Type Meetup Description here..."></textarea>
                    <button type="button" class="post-btn">Create</button>
                </form>
            </aside>
        </div>
    </section>

    <footer>
        <p>&copy;2019 Questioner. All rights reserved</p>
    </footer>
</body>

</html>
