{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Questioner|Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1> <span class="highlight"> Questioner</span></h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="index.html">Home</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">SignUp</a></li>
                    <li><a href="admin.html">Admin</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="showcase">
        <div class="container">
            <h1>WELCOME TO THE QUESTIONER </h1>
            <p>Post your questions before your Meetup!</p>
        </div>

    </section>
    <section id="how-it-works">
        <div class="container">
            <h1>HOW IT WORKS</h1>
            <div class="column">
                <h3>Sign Up </h3>
                <p>Sign up to become a memmber and access meetups.</p>
            </div>
            <div class="column">
                <h3>Select your meetup</h3>
                <p>Here you are able to see meetup(s) you are scheduled to attend.</p>
            </div>
            <div class="column">
                <h3>Post a question to your meetup.</h3>
                <p>You are able to post a question to your meetup even before you attend.</p>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy;2019 Questioner. All rights reserved</p>
    </footer>
</body>

</html>
