<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Questioner|User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/profile.css">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1> <span class="highlight">Questioner</span></h1>
            </div>
            <!--<div id="search">
                <form action="">
                    <input type="text" placeholder="Search question...">
                    <button type="submit" class="button">Search</button>
                </form>

            </div>-->
            <nav>
                <ul>
                    <li class="current"><a href="home.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li>Welcome SIMON OKELLO</li>
                    <li><a href="index.html">SignOut</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="main">
        <div class="container">
            <aside id="left_side">

                <img src="./images/user.png" alt="No Image Found">
                <h3>Username: User1</h3>
                <h3>Email:user@example.com</h3>
                <div class="status">
                    <h3>(10) Questions posted</h3>
                    <h3>(15) Questions commented</h3>
                </div>
            </aside>
            <article id="main-col">
                <h1>My Questions Feed</h1>
                <ul id="questions">
                    <li>
                        <h3><a href="">Flask Meetup</a> </h3>
                        <p><a href="">What is the main agenda of this meetup?</a> </p><span class="posted_by">by
                            SimonOkello at 20 minutes ago</span>
                        <p><a href="">What is the venue of this meetup?</a></p><span class="posted_by">by SimonOkello
                            at 20 minutes ago</span><br><br>
                        <a href=""><span class="upvote">(2) Upvote</span></a>  ||  <a href=""><span class="downvote">(5)
                                Downvote</span></a>
                        <div class="comment">
                            <form action="">
                                <input type="text" name="comment" placeholder="Add a comment...">
                                <button type="submit" class="button">Comment</button>
                            </form>
                        </div>
                    </li>
                    <li>
                        <h3><a href="">Django Meetup</a></h3>
                        <p><a href="">What is the main agenda of this meetup?</a></p><span class="posted_by">by
                            SimonOkello at 20 minutes ago</span>
                        <p><a href="">What is the venue of this meetup?</a></p><span class="posted_by">by SimonOkello
                            at 20 minutes ago</span><br><br>
                            <a href=""><span class="upvote">(2) Upvote</span></a>  ||  <a href=""><span class="downvote">(5) Downvote</span></a>
                        <div class="comment">
                            <form action="">
                                <input type="text" name="comment" placeholder="Add a comment...">
                                <button type="submit" class="button">Comment</button>
                            </form>
                        </div>
                    </li>
                    <li>
                        <h3><a href="">ADC Meetup</a></h3>
                        <p><a href="">What is the main agenda of this meetup?</a></p><span class="posted_by">by
                            SimonOkello at 20 minutes ago</span>
                        <p><a href="">What is the venue of this meetup?</a></p><span class="posted_by">by SimonOkello
                            at 20 minutes ago</span><br><br>
                            <a href=""><span class="upvote">(2) Upvote</span></a>  ||  <a href=""><span class="downvote">(5) Downvote</span></a>
                        <div class="comment">
                            <form action="">
                                <input type="text" name="comment" placeholder="Add a comment...">
                                <button type="submit" class="button">Comment</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </article>

        </div>
    </section>


    <footer>
        <p>&copy;2019 Questioner. All rights reserved</p>
    </footer>
</body>

</html>
